.academy {
    .icon-title {
        >img {
            width: 58px;
        }
    }
    &_nav {
        padding: 20px 30px;
        background-color: #fff;
        border: 1px solid #e1e2ef;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &_main {
            position: relative;
        }
        ul {
            display: flex;
            align-items: center;
        }
        li {
            margin-left: 30px;
            &:first-child {
                margin-left: 0;
            }
            a {
                color: #7c8199;
                font-size: 18px;
                padding: 0 3px;
                position: relative;
                display: block;
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: #9684bb;
                    top: calc(100% + 2px);
                    left: 0;
                    opacity: 0;
                }
                &.active {
                    font-weight: 700;
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
        &_chat {
            display: flex;
            align-items: center;
            img {
                width: 22px;
            }
            span {
                margin-left: 10px;
                font-size: 18px;
                color: #9684bb;
            }
        }
        &_active {
            display: block;
        }
    }
    &_list {
        padding: 20px;
        background-color: #fff;
        border: 1px solid #e1e2ef;
        &_item {
            display: block;
            margin-bottom: 30px;
        }
        &_pic {
            position: relative;
            width: 100%;
            padding-bottom: 58%;
            border-radius: 25px;
            overflow: hidden;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            padding-top: 10px;
            &_up {
                display: flex;
                align-items: center;
                >img {
                    width: 33px;
                }
                >h3 {
                    width: calc(100% - 33px);
                    margin: 0;
                    font-weight: normal;
                    font-size: 18px;
                    color: #7c8199;
                    padding: 5px 0 5px 15px;
                    border-bottom: 1px solid #9684bb;
                }
            }
            &_down {
                font-size: 15px;
                color: #9684bb;
                margin: 0;
                margin-top: 5px;
                padding-left: 48px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_nav {
            &_main {
                width: calc(100% - 45px);
                padding-right: 15px;
            }
            &_active {
                p {
                    width: calc(100% - 20px);
                    padding-right: 15px;
                    margin: 0;
                    font-size: 18px;
                }
                img {
                    width: 20px;
                }
            }
            ul {
                position: absolute;
                width: 100%;
                display: block;
                background-color: #fff;
                border: 1px solid #e1e2ef;
                left: 0;
                top: calc(100% + 5px);
                padding: 10px 20px;
                display: none;
                li {
                    margin: 10px 0;
                    a {
                        &::after {
                            height: 1px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_nav {
            padding: 15px 20px;
        }
    }
}