.found {
    display: flex;
    &_nav {
        background-color: #fff;
        border: 1px solid #e1e2ef;
        padding: 20px;
        border-radius: 15px;
        width: 100%;
        &-wrap {
            width: 300px;
            padding-right: 10px;
        }
        ul {
            li {
                margin-bottom: 20px;
            }
            a {
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                    margin-right: 10px;
                }
                span {
                    // font-size: 18px;
                    color: #383838;
                }
            }
        }
        &_active {
            padding: 12px 15px;
            border: 1px solid #dedfec;
            border-radius: 8px;
            width: 150px;
            &_content {
                img {
                    width: 30px;
                }
                span {
                    font-size: 16px;
                    display: block;
                    margin-left: 10px;
                }
            }
            &_icon {
                width: 7px !important;
            }
        }
    }
    &_title {
        font-size: 28px;
        color: #592d90;
        margin-bottom: 25px;
    }
    &_main {
        width: calc(100% - 300px);
        background-color: #fff;
        border: 1px solid #e1e2ef;
        padding: 20px;
        border-radius: 15px;
    }
    &_search {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &_bar {
            width: calc(100% - 100px - 15px);
            padding: 10px;
            border: 1px solid #e3e2ed;
            border-radius: 5px;
            display: flex;
            align-items: center;
            img {
                width: 15px;
                margin-right: 10px;
            }
            input {
                width: calc(100% - 25px);
            }
        }
        button {
            width: 100px;
            margin-left: 15px;
            background: linear-gradient(to right, #592db5 0%, #b857fe 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            border-radius: 5px;
            img {
                width: 20px;
                margin-right: 8px;
            }
            span {
                color: #fff;
                font-size: 14px;
            }
        }
    }
    &_chart {
        width: 100%;
        &_item {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 35px;
        }
        &_star {
            width: 15px;
        }
        &_info {
            width: calc((100% - 40px) * 0.25);
            padding-left: 20px;
            display: flex;
            align-items: center;
            img {
                width: 40px;
            }
            &_text {
                width: calc(100% - 40px);
                padding-left: 10px;
                h3{ 
                    font-size: 16px;
                    font-weight: normal;
                    margin: 0 0 3px;
                }
                a {
                    font-size: 12px;
                    display: block;
                    border-radius: 3px;
                    border: 1px solid #9080b2;
                    padding: 0 2px;
                    width: fit-content;
                    color: #9080b2;
                }
            }
        }
        &_percent {
            width: calc((100% - 40px) * 0.13);
            padding-left: 20px;
            color: #52b954;
        }
        &_line {
            width: calc((100% - 40px) * 0.17);
        }
        &_num {
            width: calc((100% - 40px) * 0.45);
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
            &_item {
                display: flex;
                border-radius: 5px;
                border: 1px solid #b2b2b2;
                width: calc(50% - 5px);
                p {
                    margin: 0;
                    padding: 5px;
                    font-size: 14px;
                    width: 50%;
                    text-align: center;
                    &:first-child {
                        border-right: 1px solid #b2b2b2;
                    }
                }
            }
        }
        &_bell {
            width: 25px;
            height: 25px;
            path {
                fill: #9684bb;
            }
        }
    }
    @media screen and (max-width: 1399px) {
        display: block;
        &_title {
            margin: 0;
        }
        &_nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            &-wrap {
                width: 100%;
                margin-bottom: 20px;
                padding: 0;
            }
            ul {
                display: none;
                position: absolute;
                width: 100%;
                left: 0;
                top: calc(100% + 5px);
                padding: 20px;
                background-color: #fff;
                border-radius: 20px;
                border: 1px solid #e1e2ef;
                height: 250px;
                overflow-y: auto;
            }
        }
        &_main {
            width: 100%;
        }
    }
    @media screen and (max-width: 991px) {
        &_chart {
            overflow-x: auto;
            &_item {
                width: 750px;
            }
        }
    }
    @media screen and (max-width: 400px) {
        &_nav {
            display: block;
            &_active {
                width: 100%;
            }
        }
        &_title {
            margin-bottom: 20px;
        }
    }
}